:root {
  --article-name-color: #1e212c;
  --accent-color: #ff3f3a;
  --numerals-color-section8: #ff4242;
  --paragraph-color-secondary: #787a80;
  --paragraph-color-primary: #424551;
  --input-text-color: #9a9ca5;
  --numerals-color-section4: #d7dadd;
  --white-color: #fff;
}

body {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.62;

  color: var(--paragraph-color-primary);
}

.container {
  width: 1260px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.button {
  border-radius: 4px;
  border: 1px solid transparent;

  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 3.14;
  letter-spacing: 0.5px;

  color: var(--white-color);
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
}

/* -----------------------HERO */

.section-hero {
  padding-top: 120px;
  padding-bottom: 120px;
}
.bg {
  position: relative;
}
.bg::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    55.95deg,
    rgba(255, 63, 58, 1) 0%,
    rgba(247, 94, 5, 1) 100%
  );
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
}
.hero-type {
  color: var(--accent-color);
  align-items: center;
  text-align: center;
}
.section-type {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.hero-name {
  align-items: center;
  text-align: center;
}
.title-name {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;

  color: var(--article-name-color);
}

/* -------------------------section2 */
.sect2 {
  padding-top: 120px;
  padding-bottom: 114px;
}
.t-n-margin {
  margin-bottom: 40px;
}
.sect2-paph {
  margin: 0 0 48px 0;
}
.sect2-flexbox {
  display: flex;
}
.sect2-about {
  padding-right: 125px;
}
.title-name-secondary {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
}
.info-block {
  padding: 40px 32px;
  min-width: 495px;
  min-height: 550px;

  background: #ffffff;
  border: 1px solid #e5e8ed;
  box-sizing: border-box;

  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}

.sidebar-name {
  display: block;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--article-name-color);
}
.block {
  margin-top: 32px;
}

.sidebar-main-point {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.29;
  color: var(--accent-color);
}
.sidebar-desc {
  padding: 0;
  margin: 0;
  color: var(--paragraph-color-secondary);
}
.desc-margin {
  margin-bottom: 40px;
}
.btn-sect2 {
  min-width: 431px;
}
/* -------------------------------------------section3 */
.sect3 {
  padding-top: 66px;
  padding-bottom: 180px;
}
.sect3-flexbox {
  display: flex;
}
.sect3-h3 {
  margin-bottom: 8px;
}
.sect3-h2 {
  margin-bottom: 16px;
}
.job-name {
  margin: 0;

  font-size: 20px;
  line-height: 1.5;
  color: var(--paragraph-color-secondary);
}
.sect3-title-box {
  display: block;
  margin-left: 125px;
}
.section-info {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;

  align-items: center;
}
.sect3-info {
  margin: 32px 0;
}
.sect3-paph {
  margin: 0;
}
/* -------------------section4 */
.sect4 {
  padding-bottom: 177px;
}
.sect4-flexbox {
  display: flex;
}

.sect4-type {
  margin-bottom: 8px;

  align-items: center;
  text-align: center;
}

.sect4-title {
  margin-bottom: 60px;

  align-items: center;
  text-align: center;
}

.sect4-name {
  margin-bottom: 16px;

  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;

  align-items: center;
  color: var(--numerals-color-section4);
}
.sect4-point {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  align-items: center;
  color: var(--article-name-color);
}
.sect4-desc {
  margin: 0;
  color: var(--paragraph-color-secondary);
}

.sect4-flexbox .flex-block + .flex-block {
  margin-left: 30px;
}
/* ----------------------------------JOIN */
.join-title {
  margin-right: 515px;
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.3;

  color: var(--article-name-color);
}

.join-section {
  position: relative;
  padding: 48px 60px;
}

.join-section::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    55.95deg,
    rgba(255, 63, 58, 1) 0%,
    rgba(247, 94, 5, 1) 100%
  );
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
}

input {
  padding: 8px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
  color: var(--input-text-color);
}

label {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.5;

  color: var(--paragraph-color-primary);
}
.input-box {
  background-color: whitesmoke;
  border: 1px solid var(--numerals-color-section4);
  border-radius: 4px;
}
.form-box {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
}
.form-box .label-box + .label-box {
  margin-left: 24px;
}
.label-box {
  display: flex;
  flex-direction: column;
}
/* ------------second form sect7 */
.label-box2 {
  display: flex;
  flex-direction: column;
}
/* ------------------------------------ */
.button-join {
  display: flex;

  border-radius: 4px;
  border: 1px solid transparent;
  margin-left: 20px;
  padding: 0 32px;
  width: 166px;
  height: 44px;
}
/* -----------------------------------section5 */
.sect5 {
  margin-top: 180px;
  padding-bottom: 126px;
}
.sect5-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;

  color: var(--paragraph-color-primary);
}
/* ----------------------section6 */
.sect6 {
  padding-top: 54px;
  padding-bottom: 120px;
}
.lesson {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  color: var(--article-name-color);
}
.lesson-number {
  font-weight: normal;
  color: var(--accent-color);
}
/* ---------------------------What our students say */
.student-section {
  padding-top: 80px;
  padding-bottom: 180px;
}
.students-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  color: var(--article-name-color);
}
.students-desc {
  font-size: 14px;
  line-height: 1.5;

  color: var(--paragraph-color-secondary);
}
/* ----------------------------section7 */
.sect7 {
  padding-bottom: 100px;
}
/* ----------------------------section8 */
.sect8 {
  padding-top: 120px;
  padding-bottom: 180px;
}
.sect8-type {
  padding: 1px 8px;

  font-size: 14px;
  line-height: 1.5;
  color: var(--white-color);
  background-attachment: fixed;

  border-radius: 4px;
}
.sect8-type1-bg {
  background: #03cea4;
}
.sect8-type2-bg {
  background: #5a87fc;
}

.sect8-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;

  color: var(--article-name-color);
}
.sect8-desc {
  font-size: 18px;
  line-height: 1.5;

  color: var(--paragraph-color-secondary);
}
.sect8-desc-accent {
  font-weight: bold;
  color: var(--numerals-color-section8);
}

.sect8-more-crs {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.5;
  align-items: center;
  color: var(--article-name-color);
}
