:root {
  --main-color: #1e212c;
  --second-color: #787a80;
  --hover-color: #ff3f3a;
}
body {
  background-color: #ffffff;
  color: var(--main-color);
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
