:root {
	--accent-color: #ff3f3a;
	--main-text-color: #1e212c;
	--second-text-color: #424551;
}
body {
	font-family: Lato, sans-serif;
	color: var(--main-text-color);
	width: 1920px;
	background-image: url(../images/dots-1.svg), url(../images/shapes-1.svg);
	background-repeat: no-repeat;
	background-position: 270px 1290px, 1680px 1400px;
}
ul,
h1,
h2,
h3,
h4,
p {
	list-style: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
img {
	display: block;
}
.section {
	padding-bottom: 180px;
}
.container {
	display: flex;
	margin: auto;
	width: 1230px;
	padding: 0 15px;
}

.btn {
	width: 206px;
	height: 52px;
	padding: 0;

	border: none;
	border-radius: 4px;
	background-image: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
	outline: 1px solid #fff;

	font-weight: 700;
	font-size: 16px;
	line-height: 3.25;
	letter-spacing: 0.5px;

	color: #fff;
}
.btn:hover {
	cursor: pointer;
}
.btn:focus {
	outline-color: var(--main-text-color);
	transition: outline-color 250ms linear;
}

.btn-link {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 206px;
	height: 52px;
	padding: 0;

	background-image: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
	outline: 1px solid #fff;
	transition: outline-color 250ms linear;
	border-radius: 4px;

	font-weight: 700;
	font-size: 16px;
	line-height: 3.25;
	letter-spacing: 0.5px;

	color: #fff;
}
.btn-link--empty {
	background-image: none;
	outline: none;
	border: 1px solid var(--accent-color);
	transition: border-color 250ms linear;

	color: var(--accent-color);
}
.btn-link:focus {
	outline-color: var(--main-text-color);
	transition: outline-color 250ms linear;
}
.btn-link--empty:focus {
	border-color: var(--main-text-color);
	transition: border-color 250ms linear;
}

.main-header {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;

	color: var(--main-text-color);
}
.second-header {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;

	margin-bottom: 60px;

	color: var(--main-text-color);
}
.third-header {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;

	text-transform: uppercase;

	margin-bottom: 8px;

	color: var(--main-text-color);
}
.bold-text {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;

	color: var(--main-text-color);
}
.normal-text {
	font-size: 16px;
	line-height: 1.6;

	color: var(--second-text-color);
}

/* --------------------------------------HEADER------------------------------------- */

.section--header {
	padding-top: 20px;
	padding-bottom: 80px;
}

/* ------------------------header navigation------------------------ */

.header__nav {
	display: flex;
	align-items: center;
}
.header__nav-list {
	display: flex;
}
.header__nav-link {
	display: flex;
	align-items: center;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.6;

	color: var(--second-text-color);

	outline: 1px solid;
	border-radius: 2px;
	outline-offset: 2px;
	outline-color: #fff;

	transition: outline-color 250ms linear;
	transition: color 250ms linear;
}
.header__logo-icon {
	fill: #1e212c;
}
.header__nav-link--current {
	color: var(--accent-color);
}
.header__nav-item:nth-child(2) {
	margin-left: 60px;
}
.header__nav-item:nth-child(n + 3) {
	margin-left: 40px;
}

/* -------------------------header button----------------------------- */

.btn--header {
	margin-left: auto;
}

/* ---------------------header sign-in/sign-up-------------------------- */

.header__authorization {
	display: flex;
}
.header__authorization-item {
	display: flex;
	align-self: center;
}
.header__authorization-icon {
	margin-left: 26px;
}
.header__authorization-sign-in {
	margin-left: 8px;
}
.header__authorization-sign-in,
.header__authorization-slash,
.header__authorization-sign-up {
	font-weight: 700;
	font-size: 16px;
	line-height: 160%;

	background: none;
	border: none;
	border-radius: 2px;
	padding: 0;
	outline: 1px solid #fff;
	outline-offset: 2px;

	color: var(--second-text-color);
	transition: color 250ms linear;
}

/* -------------------------header hover/focus------------------------ */

.header__nav-link:hover,
.header__authorization-sign-in:hover,
.header__authorization-sign-up:hover {
	color: var(--accent-color);

	transition: color 250ms linear;
}
.header__nav-link:focus,
.header__authorization-sign-in:focus,
.header__authorization-sign-up:focus {
	color: var(--accent-color);
	outline-color: var(--accent-color);

	transition: color 250ms linear;
	transition: outline-color 250ms linear;
}

/* -------------------------ABOUT------------------------ */

.container--about {
	flex-direction: column;

	background-image: url(../images/illustration-top.svg);
	background-repeat: no-repeat;
	background-position: right 15px bottom 0px;
}
.third-header--about {
	margin-bottom: 8px;
}
.main-header--about {
	margin-bottom: 48px;
}
.bold-text--about {
	width: 600px;
	margin-bottom: 24px;
}
.normal-text--about {
	width: 600px;
	margin-bottom: 60px;
}
.about__btns-list {
	display: flex;
}
.about__btns-item:not(:first-child) {
	margin-left: 24px;
}

/* -----------------------STATISTICS------------------------ */

.container--stat {
	flex-direction: column;
}
.stat__play-btn-container {
	display: flex;
	align-items: center;

	margin-bottom: 32px;
}
.stat__play-btn {
	display: flex;
	align-items: center;
	padding: 0;
	background: none;
	border: 1px solid #fff;
	border-radius: 50%;

	fill: #fff;

	transition: border-color 250ms linear, fill 250ms linear;
}
.stat__play-btn:hover {
	cursor: pointer;
}
.stat__play-btn:focus {
	border-color: var(--main-text-color);
	fill: var(--main-text-color);
	transition: border-color 250ms linear, fill 250ms linear;
}
.stat__play-btn-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.5;

	margin-left: 16px;
}
.stat__list-container {
	display: flex;
	align-items: center;
}
.stat_background {
	width: 810px;
	height: 500px;
	background-image: url(../images/stat-img.jpg);
	background-repeat: no-repeat;
}
.stat__list {
	margin-left: auto;
}
.stat__item {
	display: flex;
	align-items: center;
}
.stat__item:not(:last-child) {
	margin-bottom: 20px;
}
.stat__number {
	font-weight: 900;
	font-size: 48px;
	line-height: 1.3;
	letter-spacing: 1px;

	color: var(--accent-color);
}
.stat__text {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.5;

	margin-left: 16px;
}
.icon-dots-1 {
	position: absolute;
	bottom: -93px;
	left: -90px;
}

/* ------------------------VALUES------------------------ */

.container--values {
	flex-direction: column;
}
.third-header--values,
.second-header--values {
	text-align: center;
}
.value__list {
	display: flex;
}
.value__item-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 240px;
}
.value__item {
	display: flex;
	align-items: center;
}
.value__item:not(:first-child) {
	margin-left: 45px;
}
.value__item:not(:last-child)::after {
	content: "";
	width: 1px;
	height: 162px;
	background-image: radial-gradient(rgb(221, 221, 221) 1%, #fff);

	margin-left: 45px;
}
.value__icon {
	margin-bottom: 24px;
}
.value__item-header {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;

	margin-bottom: 8px;
}
.value__item-text {
	font-size: 16px;
	line-height: 1.6;
	text-align: center;

	color: #787a80;
}

/* ----------------------DIRECTIONS---------------------- */

.container--directions {
	flex-direction: column;
}
.third-header--directions,
.second-header--directions {
	text-align: center;
}
.directions__list {
	display: flex;
	flex-wrap: wrap;

	margin-left: -30px;
	margin-bottom: -30px;
}
.directions__item {
	width: 380px;
	outline: 1px solid #e5e8ed;
	border-radius: 4px;

	margin-left: 30px;
	margin-bottom: 30px;

	transition: box-shadow 250ms linear;
}
.directions__item:hover {
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05),
		0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
	transition: box-shadow 250ms linear;
}
.directions__item--last {
	height: 413px;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #f4f5f6;
}
.directions__item--last .directions__item-text {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	text-align: center;

	color: var(--main-text-color);

	margin: 0;
}
.directions__item-description {
	padding: 24px;
}
.directions__item-text {
	width: 294px;
	margin-bottom: 20px;
}
.directions__item-header {
	display: inline-block;
	padding: 1px 8px;
	border-radius: 4px;

	margin-bottom: 20px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.6;

	color: #fff;
}
.directions__item-header-1 {
	background-color: #03cea4;
}
.directions__item-header-2 {
	background-color: #5a87fc;
}
.directions__item-header-3 {
	background-color: #f89828;
}
.directions__item-header-4 {
	background-color: #f52f6e;
}
.directions__item-header-5 {
	background-color: #7772f1;
}
.directions__item-text {
	font-size: 16px;
	line-height: 1.6;

	color: #787a80;
}
.directions__item-link {
	display: flex;
	align-items: center;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.6;

	color: var(--main-text-color);
	transition: color 250ms linear;
}
.directions__item-link:hover {
	color: var(--accent-color);
	transition: color 250ms linear;
}
.directions__red-arrow {
	display: flex;
	align-items: center;
	margin-left: 8px;
}

/* ------------------------FOOTER------------------------ */

.footer {
	background-image: linear-gradient(#1e212c 85%, rgba(255, 255, 255, 0.05) 85%), linear-gradient(#1e212c, #242935);

	padding-top: 80px;
	padding-bottom: 20px;
}
.container--footer {
	flex-direction: column;
}
.footer__main-content {
	display: flex;
	margin-bottom: 80px;
}
.footer__bottom {
	display: flex;
	align-items: center;
}
/* ----------------------footer logo-------------------- */
.footer__logo {
	display: inline-flex;
	align-items: center;
	margin-bottom: 24px;

	outline: 1px solid #1e212c;
	transition: outline-color 250ms linear;
}
.footer__logo-icon {
	fill: #fff;
}
.footer__logo:focus {
	outline-color: var(--accent-color);
	outline-offset: 3px;
	border-radius: 3px;

	transition: outline-color 250ms linear;
}
.footer__text {
	width: 280px;

	font-size: 12px;
	line-height: 1.5;

	color: #fff;
	opacity: 0.6;

	margin-bottom: 38px;
}
/* ------------------footer sm list------------------ */
.footer__sm-list {
	display: flex;
}

.footer__sm-item:not(:first-child) {
	margin-left: 20px;
}
.footer__sm-icon {
	fill: rgba(255, 255, 255, 0.6);
	transition: fill 250ms linear;
}

.footer__sm-link:hover .footer__sm-icon,
.footer__sm-link:focus .footer__sm-icon {
	fill: var(--accent-color);
	transition: fill 250ms linear;
}
.footer__sm-link:focus {
	outline: none;
}
/* ------------------------footer nav list----------------------- */
.footer__nav-list {
	width: 100px;
}
.footer__nav-item:not(:last-child),
.footer__courses-item:not(:last-child) {
	margin-bottom: 10px;
}
.footer__nav-item:nth-child(1),
.footer__courses-item:nth-child(1) {
	margin-bottom: 12px;
}
/* -----------------------footer address-------------------- */
.footer__address-header {
	margin-bottom: 12px;
}
.footer__address-link {
	margin-bottom: 10px;
}
.footer__address-icon {
	margin-right: 8px;
}
.footer__address {
	font-style: normal;
}
.footer__address-link {
	display: flex;
	align-items: center;
}
.footer__address-icon {
	fill: rgba(255, 255, 255, 0.9);
	transition: fill 250ms linear;
}
.footer__address-link:hover .footer__address-icon,
.footer__address-link:focus .footer__address-icon {
	fill: var(--accent-color);
	transition: fill 250ms linear;
}
/* -------------------------footer links styles------------------------ */
.footer__nav-list,
.footer__courses-list,
.footer__address,
.footer__input {
	margin-left: 67px;
}
.footer__nav-header,
.footer__courses-header,
.footer__address-header,
.footer__input-header {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;

	letter-spacing: 1px;
	text-transform: uppercase;

	color: #fff;
}
.footer__nav-link,
.footer__courses-link,
.footer__address-link {
	font-size: 16px;
	line-height: 1.6;

	color: #fff;
	opacity: 0.6;
	transition: color 250ms linear;
}
.footer__nav-link:hover,
.footer__courses-link:hover,
.footer__address-link:hover {
	color: var(--accent-color);
	transition: color 250ms linear;
}
.footer__nav-link:focus,
.footer__courses-link:focus,
.footer__address-link:focus {
	outline: none;
	color: var(--accent-color);
	transition: color 250ms linear;
}
/* -----------------------footer input---------------------- */
.footer__input-header {
	margin-bottom: 24px;
}
.footer__input-window-container {
	position: relative;
	margin-bottom: 12px;
}
.footer__input-window {
	width: 286px;
	height: 36px;

	background-color: rgba(255, 255, 255, 0.12);
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 4px;

	padding-left: 12px;

	transition: border-color 250ms linear;
}
.footer__input-window:focus {
	border-color: var(--accent-color);
	transition: border-color 250ms linear;

	color: #fff;
}
.footer__input-btn {
	display: flex;
	align-items: center;

	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 8px;

	height: 30px;
	border: none;
	background: none;

	cursor: pointer;
}
.footer__input-btn-icon {
	fill: #fff;
	transition: fill 250ms linear;
}
.footer__input-btn:hover .footer__input-btn-icon,
.footer__input-btn:focus .footer__input-btn-icon {
	fill: var(--accent-color);
	transition: fill 250ms linear;
}
.footer__input-btn:focus {
	outline: none;
}
.footer__input-comment {
	width: 285px;

	font-size: 10px;
	line-height: 1.5;

	color: #fff;
}
/* ----------------------------footer bottom------------------------- */
.footer__bottom-text {
	font-size: 12px;
	line-height: 1.5;

	color: #fff;
}
.footer__bottom-link {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.5;

	color: #fff;
	transition: color 250ms linear;

	opacity: 0.6;

	margin-left: auto;
}
.footer__bottom-link:hover,
.footer__bottom-link:focus {
	color: var(--accent-color);
	transition: color 250ms linear;
	outline: none;
}
