:root {
  --main-color: #1e212c;
  --second-color: #787a80;
  --hover-color: #ff3f3a;
}
body {
  background-color: #ffffff;
  color: var(--main-color);
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 1230px;
  margin: 0 auto;
  /* display: flex; */
}
.top-container {
  display: flex;
  margin-top: 80px;
}
.left-container {
  width: 810px;
}
.right-container {
  width: 342px;
  margin-left: 78px;
}
.artic-list {
  text-decoration: none;
  display: flex;
  list-style-type: none;
  font-style: Regular;
  font-size: 16px;
  line-height: 1.62;
  color: #424551;
}
.link-artik {
  display: inline-block;
  font-size: 16px;
  line-height: 1.62;
  padding-right: 12px;
  border-right: 1px solid var(--second-color);
  margin-right: 12px;
  align-items: center;
}
.link-hr {
  font-size: 16px;
  line-height: 1.62;
  text-decoration: none;
  color: var(--hover-color);
}
.artik-link {
  content: '';
  display: inline-flex;
  align-items: center;
}
.artic-svg {
  margin-right: 10px;
}
.main-pre-item {
  content: '';
  display: flex;
  align-items: center;
}
.calendar-icon {
  margin-right: 8.7px;
  content: '';
  display: inline-block;
  align-items: center;
}
.main-title {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  max-width: 810px;
  margin-top: 12px;
}
.main-data {
  display: flex;
  color: var(--second-color);
}
.main-data > li {
  text-decoration: none;
  margin-right: 24px;
}
.main-data > li:last-child {
  margin-right: 0;
}
.social-list {
  display: flex;
  margin-left: auto;
  height: 26px;
  align-items: center;
}
.social-text {
  display: inline-flex;
  margin-right: 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.63;
  align-items: center;
}
.social-item:nth-child(n + 1) {
  margin-right: 13px;
}
.social-item:last-child {
  margin-right: 0;
}
.social-item > .social-link {
  display: inline-flex;
  margin-left: auto;
  background-color: transparent;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}
.social-item {
  content: '';
  display: inline-flex;
  align-items: center;
  fill: var(--second-color);
}
.social-link {
  content: '';
  display: inline-flex;
  align-items: center;
  fill: var(--second-color);
}
.social-link:hover,
.social-link:focus {
  fill: var(--hover-color);
}
.social-icon {
  content: '';
  display: inline-flex;
  align-items: center;
}
.main-pre {
  display: flex;
  margin-top: 26px;
  margin-bottom: 40px;
  align-items: center;
}
.main-text-list {
  font-style: 16px;
  line-height: 1.6;
  margin-top: 60px;
}
.main-text {
  font-size: 16px;
  line-height: 1.6;
  color: #424551;
}
.bold-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 24px;
  margin-bottom: 24px;
}
.rectangle {
  display: flex;
}
.rectangle-icon {
  content: '';
  display: inline-block;
}
.rectangle-icon + .rectangle-icon {
  margin-left: 8px;
}
.bold-block {
  display: flex;
  align-items: baseline;
}
.block-text {
  margin-left: 30px;
}
.main-text-item + .main-text-item {
  margin-bottom: 24px;
}
.intext-list {
  margin-top: 24px;
  display: inline-block;
  align-items: center;
}
.intext-item {
  content: '';
  font-size: 16px;
  line-height: 1.6;
  color: #424551;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.listmark-icon {
  content: '';
  display: inline-block;
  margin-right: 16px;
  align-items: center;
  /* margin-top: 5px;
  margin-bottom: 5px; */
}
/* .intext-list > .intext-item {
  content: '';
  display: inline-block;
  align-items: center;
} */
.main-after-list {
  display: flex;
  margin-top: 60px;
  align-items: baseline;
}
.after-list {
  display: flex;
  align-items: baseline;
}
.tags-link {
  display: inline-flex;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  color: #787a80;
  padding: 5.5px 16px;
  outline: 0.5px solid #d7dadd;
  border-radius: 4px;
}
.tags-link:hover,
.tags-link:focus {
  background-color: var(--hover-color);
  color: #ffffff;
  border: none;
}
.after-list-text {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 700;
  color: var(--main-color);
}
.after-list-item:nth-child(-n + 3) {
  margin-right: 12px;
}
.social-after-list {
  margin-left: auto;
}
.right-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  margin-top: 60px;
}
.manager-card {
  display: flex;
  content: '';
  margin-top: 24px;
}
.manager-list {
  margin-left: 20px;
}
.manager-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}
.manager-social-list {
  display: flex;
  margin-top: 20px;
}
.manager-role {
  font-size: 14px;
  line-height: 1.5;
  color: var(--second-color);
  margin-top: 4px;
}
.trending-list {
  margin-top: 24px;
}
.trending-item {
  display: flex;
}
.trending-item + .trending-item {
  margin-top: 24px;
}
.trending-right-list {
  margin-left: 20px;
}
.trending-right-list > li:first-child {
  font-size: 14px;
  line-height: 1.5;
  color: var(--second-color);
}
.trending-link {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 700;
  color: var(--main-color);
}
.trending-link:hover,
.trending-link:focus {
  display: inline-block;
  content: '';
  font-size: 16px;
  line-height: 1.6;
  font-weight: 700;
  color: var(--hover-color);
}
.tags-list {
  display: flex;
  width: 342px;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3);
  margin-top: 31px;
}
.tags-item {
  text-decoration: none;
  margin-right: 12px;
}
.tags-item:nth-child(3n + 3) {
  margin-right: 0;
}
/* .tags-list > li:not(:last-child) {
  margin-right: 12px;
} */
.tags-list > li:nth-child(-n + 3) {
  margin-bottom: 12px;
}
.hero {
  content: '';
  background-color: #f4f5f6;
  max-width: 1920px;
  height: 454px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
}
.hero-icon {
  display: inline-block;
  content: '';
  min-width: 507px;
  height: 454px;
}
.hero-container {
  display: flex;
}
.hero-right-block {
  margin-left: 160px;
  max-width: 600px;
  padding-top: 100px;
  padding-bottom: 120px;
}
.hero-title {
  font-size: 32px;
  line-height: 1.3;
  font-weight: 900;
  margin-bottom: 48px;
}
.blog-pretitle {
  margin-top: 120px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 1px;
}
.blog-tittle {
  font-size: 46px;
  line-height: 1.3;
  font-weight: 900;
  margin-top: 8px;
}
.blog-title-container {
  display: flex;
  align-items: baseline;
}
.line-icon-left {
  content: '';
  transform: rotate(180deg);
  margin-left: auto;
  margin-right: 27px;
  fill: #424551;
}
.line-icon-right {
  fill: #424551;
}
.blog-column-list {
  display: flex;
  margin-top: 60px;
}
.blog-column + .blog-column {
  margin-left: 30px;
}
.blog-column {
  content: '';
}
.blog-img1 {
  width: 390px;
  height: 300px;
  background-color: var(--second-color);
  background-image: url(../images/block-img1.jpg);
  display: inline-block;
}
.blog-img2 {
  width: 390px;
  height: 300px;
  background-color: var(--second-color);
  background-image: url(../images/block-img2.jpg);
  display: inline-block;
}
.blog-img3 {
  width: 390px;
  height: 300px;
  background-color: var(--second-color);
  background-image: url(../images/block-img3.jpg);
  display: inline-block;
}
.blog-img-text {
  width: 85px;
  height: 23px;
  background: #ffffff;
  border-radius: 4px;
  text-align: center;
  margin-left: 12px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.5;
  color: #424551;
}
.blog-podcast-icon {
  content: '';
  display: inline-block;
  margin-right: 6px;
  align-items: center;
  margin-left: 10px;
}
.blog-prelist {
  display: flex;
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--second-color);
  align-items: center;
}
.blog-prelist-item {
  content: '';
  display: flex;
  align-items: center;
}

.blog-prelist-item:not(:last-child) {
  padding-right: 12px;
  border-right: 1px solid var(--second-color);
  margin-right: 12px;
}
.blog-list-title {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  margin-top: 8px;
}
.blog-list-text {
  font-size: 16px;
  line-height: 1.6;
  color: #424551;
  margin-top: 8px;
}
.after-blog-text {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 700;
  margin-top: 16px;
}
.aft-bl-tx {
  display: flex;
  align-items: center;
}
.line-icon {
  content: '';
  display: inline-block;
  align-items: center;
  margin-left: 11px;
  fill: var(--hover-color);
}
.prefooter-info {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 180px;
  align-items: center;
  min-height: 52px;
}
.prefooter-text {
  font-size: 28px;
  line-height: 1.5;
  font-weight: 700;
  margin-right: 40px;
}
.prefooter-btn {
  display: inline-block;
  border: none;
  width: 158px;
  background-image: linear-gradient(rgba(255, 63, 58, 1), rgba(247, 94, 5, 1));
  color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  line-height: 2.71;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: center;
}
