:root {
<<<<<<< HEAD
  --main-color: #1e212c;
  --second-color: #787a80;
  --hover-color: #ff3f3a;
}
body {
  background-color: #ffffff;
  color: var(--main-color);
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}
p,
=======
  --accent-color: #ff3f3a;
  --main-text-color: #1e212c;
  --second-text-color: #424551;
}
body {
  font-family: Lato, sans-serif;
  color: var(--main-text-color);
}
ul,
>>>>>>> origin/Courses
h1,
h2,
h3,
h4,
h5,
<<<<<<< HEAD
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
button {
  cursor: pointer;
=======
p {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
>>>>>>> origin/Courses
}
img {
  display: block;
}
<<<<<<< HEAD
a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1230px;
  margin: 0 auto;
  /* display: flex; */
}
.top-container {
  display: flex;
  margin-top: 80px;
}
.left-container {
  width: 810px;
}
.right-container {
  width: 342px;
  margin-left: 78px;
}
/* .search-form {
  width: 342px;
  height: 44px;
} */
.input-text {
  padding-left: 16px;
  padding-top: 11px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--second-color);
  width: 342px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid #d7dadd;
}
.input-search-text {
  padding-left: 16px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 14px;
  line-height: 1.6;
  color: var(--second-color);
  width: 422px;
  height: 52px;
  border-radius: 4px;
  border: 1px solid #d7dadd;
  margin-right: 24px;
}
.sub-btn {
  display: inline-block;
  width: 154px;
  background-image: linear-gradient(to right, rgba(255, 63, 58, 1), rgba(247, 94, 5, 1));
  color: #ffffff;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 2.71;
  letter-spacing: 0.5px;
}
.agree-text {
  margin-left: 12px;
  font-size: 16px;
  line-height: 1.6;
  color: #424551;
}
.search-block {
  display: flex;
}
.agree-block {
  display: flex;
  margin-top: 24px;
  align-items: center;
}
.check-btn {
  display: inline-block;
  width: 16px;
  height: 16px;
  align-items: center;
  margin-right: 12px;
  fill: var(--hover-color);
}
.check-btn:enabled {
  color: var(--hover-color);
}
.search-form-l {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.6;
  color: #424551;
}
.artic-list {
  text-decoration: none;
  display: flex;
  list-style-type: none;
  font-style: Regular;
  font-size: 16px;
  line-height: 1.62;
  color: #424551;
}
.link-artik {
  display: inline-block;
  font-size: 16px;
  line-height: 1.62;
  padding-right: 12px;
  border-right: 1px solid var(--second-color);
  margin-right: 12px;
  align-items: center;
}
.link-hr {
  font-size: 16px;
  line-height: 1.62;
  text-decoration: none;
  color: var(--hover-color);
}
.artik-link {
  content: '';
  display: inline-flex;
  align-items: center;
}
.artic-svg {
  margin-right: 10px;
}
.main-pre-item {
  content: '';
  display: flex;
  align-items: center;
}
.calendar-icon {
  margin-right: 8.7px;
  content: '';
  display: inline-block;
  align-items: center;
}
.main-title {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  max-width: 810px;
  margin-top: 12px;
}
.main-data {
  display: flex;
  color: var(--second-color);
}
.main-data > li {
  text-decoration: none;
  margin-right: 24px;
}
.main-data > li:last-child {
  margin-right: 0;
}
.social-list {
  display: flex;
  margin-left: auto;
  height: 26px;
  align-items: center;
}
.social-text {
  display: inline-flex;
  margin-right: 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.63;
  align-items: center;
}
.social-item:nth-child(n + 1) {
  margin-right: 13px;
}
.social-item:last-child {
  margin-right: 0;
}
.social-item > .social-link {
  display: inline-flex;
  margin-left: auto;
  background-color: transparent;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}
.social-item {
  content: '';
  display: inline-flex;
  align-items: center;
  fill: var(--second-color);
}
.social-link {
  content: '';
  display: inline-flex;
  align-items: center;
  fill: var(--second-color);
}
.social-link:hover,
.social-link:focus {
  fill: var(--hover-color);
}
.social-icon {
  content: '';
  display: inline-flex;
  align-items: center;
}
.main-pre {
  display: flex;
  margin-top: 26px;
  margin-bottom: 40px;
  align-items: center;
}
.main-text-list {
  font-style: 16px;
  line-height: 1.6;
  margin-top: 60px;
}
.main-text {
  font-size: 16px;
  line-height: 1.6;
  color: #424551;
}
.bold-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 24px;
  margin-bottom: 24px;
}
.rectangle {
  display: flex;
}
.rectangle-icon {
  content: '';
  display: inline-block;
}
.rectangle-icon + .rectangle-icon {
  margin-left: 8px;
}
.bold-block {
  display: flex;
  align-items: baseline;
}
.block-text {
  margin-left: 30px;
}
.main-text-item + .main-text-item {
  margin-bottom: 24px;
}
.intext-list {
  margin-top: 24px;
  display: inline-block;
  align-items: center;
}
.intext-item {
  content: '';
  font-size: 16px;
  line-height: 1.6;
  color: #424551;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.listmark-icon {
  content: '';
  display: inline-block;
  margin-right: 16px;
  align-items: center;
  /* margin-top: 5px;
  margin-bottom: 5px; */
}
/* .intext-list > .intext-item {
  content: '';
  display: inline-block;
  align-items: center;
} */
.main-after-list {
  display: flex;
  margin-top: 60px;
  align-items: baseline;
}
.after-list {
  display: flex;
  align-items: baseline;
}
.tags-link {
  display: inline-flex;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  color: #787a80;
  padding: 5.5px 16px;
  outline: 0.5px solid #d7dadd;
  border-radius: 4px;
}
.tags-link:hover,
.tags-link:focus {
  background-color: var(--hover-color);
  color: #ffffff;
  border: none;
}
.after-list-text {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 700;
  color: var(--main-color);
}
.after-list-item:nth-child(-n + 3) {
  margin-right: 12px;
}
.social-after-list {
  margin-left: auto;
}
.right-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  margin-top: 60px;
}
.manager-card {
  display: flex;
  content: '';
  margin-top: 24px;
}
.manager-list {
  margin-left: 20px;
}
.manager-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}
.manager-social-list {
  display: flex;
  margin-top: 20px;
}
.manager-role {
  font-size: 14px;
  line-height: 1.5;
  color: var(--second-color);
  margin-top: 4px;
}
.trending-list {
  margin-top: 24px;
}
.trending-item {
  display: flex;
}
.trending-item + .trending-item {
  margin-top: 24px;
}
.trending-right-list {
  margin-left: 20px;
}
.trending-right-list > li:first-child {
  font-size: 14px;
  line-height: 1.5;
  color: var(--second-color);
}
.trending-link {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 700;
  color: var(--main-color);
}
.trending-link:hover,
.trending-link:focus {
  display: inline-block;
  content: '';
  font-size: 16px;
  line-height: 1.6;
  font-weight: 700;
  color: var(--hover-color);
}
.tags-list {
  display: flex;
  width: 342px;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3);
  margin-top: 31px;
}
.tags-item {
  text-decoration: none;
  margin-right: 12px;
}
.tags-item:nth-child(3n + 3) {
  margin-right: 0;
}
/* .tags-list > li:not(:last-child) {
  margin-right: 12px;
} */
.tags-list > li:nth-child(-n + 3) {
  margin-bottom: 12px;
}
.hero {
  content: '';
  background-color: #f4f5f6;
  max-width: 1920px;
  height: 454px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
}
.hero-icon {
  display: inline-block;
  content: '';
  min-width: 507px;
  height: 454px;
}
.hero-container {
  display: flex;
}
.hero-right-block {
  margin-left: 160px;
  max-width: 600px;
  padding-top: 100px;
  padding-bottom: 120px;
}
.hero-title {
  font-size: 32px;
  line-height: 1.3;
  font-weight: 900;
  margin-bottom: 48px;
}
.blog-pretitle {
  margin-top: 120px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 1px;
}
.blog-tittle {
  font-size: 46px;
  line-height: 1.3;
  font-weight: 900;
  margin-top: 8px;
}
.blog-title-container {
  display: flex;
  align-items: baseline;
}
.line-icon-left {
  content: '';
  transform: rotate(180deg);
  margin-left: auto;
  margin-right: 27px;
  fill: #424551;
}
.line-icon-right {
  fill: #424551;
}
.blog-column-list {
  display: flex;
  margin-top: 60px;
}
.blog-column + .blog-column {
  margin-left: 30px;
}
.blog-column {
  content: '';
}
.blog-img1 {
  width: 390px;
  height: 300px;
  background-color: var(--second-color);
  background-image: url(../images/block-img1.jpg);
  display: inline-block;
}
.blog-img2 {
  width: 390px;
  height: 300px;
  background-color: var(--second-color);
  background-image: url(../images/block-img2.jpg);
  display: inline-block;
}
.blog-img3 {
  width: 390px;
  height: 300px;
  background-color: var(--second-color);
  background-image: url(../images/block-img3.jpg);
  display: inline-block;
}
.blog-img-text {
  width: 85px;
  height: 23px;
  background: #ffffff;
  border-radius: 4px;
  text-align: center;
  margin-left: 12px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.5;
  color: #424551;
}
.blog-podcast-icon {
  content: '';
  display: inline-block;
  margin-right: 6px;
  align-items: center;
  margin-left: 10px;
}
.blog-prelist {
  display: flex;
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--second-color);
  align-items: center;
}
.blog-prelist-item {
  content: '';
  display: flex;
  align-items: center;
}
.right-prelist-item {
  content: '';
  display: flex;
  align-items: center;
}
.blog-prelist-item:not(:last-child) {
  padding-right: 12px;
  border-right: 1px solid var(--second-color);
  margin-right: 12px;
}
.blog-list-title {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  margin-top: 8px;
}
.blog-list-text {
  font-size: 16px;
  line-height: 1.6;
  color: #424551;
  margin-top: 8px;
}
.after-blog-text {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 700;
  margin-top: 16px;
}
.aft-bl-tx {
  display: flex;
  align-items: center;
}
.line-icon {
  content: '';
  display: inline-block;
  align-items: center;
  margin-left: 11px;
  fill: var(--hover-color);
}
.prefooter-info {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 180px;
  align-items: center;
  min-height: 52px;
}
.prefooter-text {
  font-size: 28px;
  line-height: 1.5;
  font-weight: 700;
  margin-right: 40px;
}
.prefooter-btn {
  display: inline-block;
  border: none;
  width: 158px;
  background-image: linear-gradient(rgba(255, 63, 58, 1), rgba(247, 94, 5, 1));
  color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  line-height: 2.71;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: center;
=======
.section {
  padding-bottom: 180px;
}
.container {
  display: flex;
  margin: auto;
  width: 1230px;
  padding: 0 15px;
}

.btn {
  width: 206px;
  height: 52px;
  padding: 0;

  border: none;
  border-radius: 4px;
  background-image: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  outline: 1px solid #fff;

  font-weight: 700;
  font-size: 16px;
  line-height: 3.25;
  letter-spacing: 0.5px;

  color: #fff;
}
.btn:hover {
  cursor: pointer;
}
.btn:focus {
  outline-color: var(--main-text-color);
  transition: outline-color 250ms linear;
}

.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 206px;
  height: 52px;
  padding: 0;

  background-image: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  outline: 1px solid #fff;
  transition: outline-color 250ms linear;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 3.25;
  letter-spacing: 0.5px;

  color: #fff;
}
.btn-link--empty {
  background-image: none;
  outline: none;
  border: 1px solid var(--accent-color);
  transition: border-color 250ms linear;

  color: var(--accent-color);
}
.btn-link:focus {
  outline-color: var(--main-text-color);
  transition: outline-color 250ms linear;
}
.btn-link--empty:focus {
  border-color: var(--main-text-color);
  transition: border-color 250ms linear;
}

.main-header {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;

  color: var(--main-text-color);
}
.second-header {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;

  margin-bottom: 60px;

  color: var(--main-text-color);
}
.third-header {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;

  text-transform: uppercase;

  margin-bottom: 8px;

  color: var(--main-text-color);
}
.bold-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;

  color: var(--main-text-color);
}
.normal-text {
  font-size: 16px;
  line-height: 1.6;

  color: var(--second-text-color);
}

/* --------------------------------------HEADER------------------------------------- */

.section--header {
  padding-top: 20px;
  padding-bottom: 80px;
}

/* ------------------------header navigation------------------------ */

.header__nav {
  display: flex;
  align-items: center;
}
.header__nav-list {
  display: flex;
}
.header__nav-link {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;

  color: var(--second-text-color);

  outline: 1px solid;
  border-radius: 2px;
  outline-offset: 2px;
  outline-color: #fff;

  transition: outline-color 250ms linear;
  transition: color 250ms linear;
}
.header__logo-icon {
  fill: #1e212c;
}
.header__nav-link--current {
  color: var(--accent-color);
}
.header__nav-item:nth-child(2) {
  margin-left: 60px;
}
.header__nav-item:nth-child(n + 3) {
  margin-left: 40px;
}

/* -------------------------header button----------------------------- */

.btn--header {
  margin-left: auto;
}

/* ---------------------header sign-in/sign-up-------------------------- */

.header__authorization {
  display: flex;
}
.header__authorization-item {
  display: flex;
  align-self: center;
}
.header__authorization-icon {
  margin-left: 26px;
}
.header__authorization-sign-in {
  margin-left: 8px;
}
.header__authorization-sign-in,
.header__authorization-slash,
.header__authorization-sign-up {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;

  background: none;
  border: none;
  border-radius: 2px;
  padding: 0;
  outline: 1px solid #fff;
  outline-offset: 2px;

  color: var(--second-text-color);
  transition: color 250ms linear;
}

/* -------------------------header hover/focus------------------------ */

.header__nav-link:hover,
.header__authorization-sign-in:hover,
.header__authorization-sign-up:hover {
  color: var(--accent-color);

  transition: color 250ms linear;
}
.header__nav-link:focus,
.header__authorization-sign-in:focus,
.header__authorization-sign-up:focus {
  color: var(--accent-color);
  outline-color: var(--accent-color);

  transition: color 250ms linear;
  transition: outline-color 250ms linear;
}

/* -------------------------ABOUT------------------------ */

.container--about {
  flex-direction: column;

  background-image: url(../images/illustration-top.svg);
  background-repeat: no-repeat;
  background-position: right 15px bottom 0px;
}
.third-header--about {
  margin-bottom: 8px;
}
.main-header--about {
  margin-bottom: 48px;
}
.bold-text--about {
  width: 600px;
  margin-bottom: 24px;
}
.normal-text--about {
  width: 600px;
  margin-bottom: 60px;
}
.about__btns-list {
  display: flex;
}
.about__btns-item:not(:first-child) {
  margin-left: 24px;
}

/* -----------------------STATISTICS------------------------ */

.container--stat {
  position: relative;
  flex-direction: column;
}
.stat__play-btn-container {
  display: flex;
  align-items: center;

  margin-bottom: 32px;
}
.stat__play-btn {
  display: flex;
  align-items: center;
  padding: 0;
  background: none;
  border: 1px solid #fff;
  border-radius: 50%;

  fill: #fff;

  transition: border-color 250ms linear, fill 250ms linear;
}
.stat__play-btn:hover {
  cursor: pointer;
}
.stat__play-btn:focus {
  border-color: var(--main-text-color);
  fill: var(--main-text-color);
  transition: border-color 250ms linear, fill 250ms linear;
}
.stat__play-btn-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;

  margin-left: 16px;
}
.stat__list-container {
  display: flex;
  align-items: center;
}
.stat_background {
  width: 810px;
  height: 500px;
  background-image: url(../images/stat-img.jpg);
  background-repeat: no-repeat;
}
.stat__list {
  margin-left: auto;
}
.stat__item {
  display: flex;
  align-items: center;
}
.stat__item:not(:last-child) {
  margin-bottom: 20px;
}
.stat__number {
  font-weight: 900;
  font-size: 48px;
  line-height: 1.3;
  letter-spacing: 1px;

  color: var(--accent-color);
}
.stat__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;

  margin-left: 16px;
}
.icon-dots-1 {
  position: absolute;
  bottom: -93px;
  left: -90px;
}

.dots-1 {
  position: absolute;
  left: -75px;
  bottom: -43px;
  z-index: -1;
}
.shapes-1 {
  position: absolute;
  right: -120px;
  bottom: -83px;
}

/* ------------------------VALUES------------------------ */

.container--values {
  flex-direction: column;
}
.third-header--values,
.second-header--values {
  text-align: center;
}
.value__list {
  display: flex;
}
.value__item-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 240px;
}
.value__item {
  display: flex;
  align-items: center;
}
.value__item:not(:first-child) {
  margin-left: 45px;
}
.value__item:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 162px;
  background-image: radial-gradient(rgb(221, 221, 221) 1%, #fff);

  margin-left: 45px;
}
.value__icon {
  margin-bottom: 24px;
}
.value__item-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;

  margin-bottom: 8px;
}
.value__item-text {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;

  color: #787a80;
}

/* ----------------------DIRECTIONS---------------------- */

.container--directions {
  flex-direction: column;
}
.third-header--directions,
.second-header--directions {
  text-align: center;
}
.directions__list {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-bottom: -30px;
}
.directions__item {
  width: 380px;
  outline: 1px solid #e5e8ed;
  border-radius: 4px;

  margin-left: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms linear;
}
.directions__item:hover {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  transition: box-shadow 250ms linear;
}
.directions__item--last {
  height: 413px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f4f5f6;
}
.directions__item--last .directions__item-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;

  color: var(--main-text-color);

  margin: 0;
}
.directions__item-description {
  padding: 24px;
}
.directions__item-text {
  width: 294px;
  margin-bottom: 20px;
}
.directions__item-header {
  display: inline-block;
  padding: 1px 8px;
  border-radius: 4px;

  margin-bottom: 20px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;

  color: #fff;
}
.directions__item-header-1 {
  background-color: #03cea4;
}
.directions__item-header-2 {
  background-color: #5a87fc;
}
.directions__item-header-3 {
  background-color: #f89828;
}
.directions__item-header-4 {
  background-color: #f52f6e;
}
.directions__item-header-5 {
  background-color: #7772f1;
}
.directions__item-text {
  font-size: 16px;
  line-height: 1.6;

  color: #787a80;
}
.directions__item-link {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;

  color: var(--main-text-color);
  transition: color 250ms linear;
}
.directions__item-link:hover {
  color: var(--accent-color);
  transition: color 250ms linear;
}
.directions__red-arrow {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

/* -------------------STIDYING PROCESS------------------ */

.container__studying-process {
  position: relative;
  flex-direction: column;

  background-image: url(../images/illustration-middle.svg);
  background-repeat: no-repeat;
  background-position: right 15px bottom 0px;
}
.studying-process__list-container {
  display: flex;
}
.studying-process__list-container::before {
  display: block;
  content: "";
  width: 1px;
  height: 531px;
  background-color: #cbccd1;

  margin-right: 40px;
}
.studying-process__item {
  margin-bottom: 32px;
}
.studying-process__item-first-header {
  position: relative;

  display: flex;
  align-items: center;

  font-weight: 900;
  font-size: 12px;
  line-height: 1.5;

  color: var(--second-text-color);

  margin-bottom: 2px;
}
.studying-process__item-first-header::before {
  position: absolute;
  left: -50px;

  display: block;
  content: "";
  width: 18px;
  height: 18px;

  background-image: radial-gradient(var(--accent-color) 30%, #fff 30%);
}
.studying-process__item-second-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;

  margin-bottom: 8px;
}
.studying-process__item-text {
  width: 446px;

  font-size: 16px;
  line-height: 1.6;

  color: var(--second-text-color);
}

.circles-1 {
  position: absolute;
  right: -203px;
  top: -88px;
}
.shapes-2 {
  position: absolute;
  left: -150px;
  bottom: -180px;
}

/* -------------------------TEAM------------------------- */

.container--team {
  flex-direction: column;
}

.third-header--team {
  text-align: center;
}
.second-header--team {
  text-align: center;
}

.team__list {
  display: flex;
  flex-wrap: wrap;

  margin-left: -20px;
  margin-bottom: -60px;
}
.team__item {
  margin-left: 20px;
  margin-bottom: 60px;
}

.team__item-img {
  position: relative;

  width: 285px;
  height: 340px;
  border-radius: 4px;
  padding: 20px 20px 0 20px;

  margin-bottom: 16px;

  background-color: #ffcf2d;
}
.team__item-img::after {
  display: block;
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;

  background-image: linear-gradient(
    180deg,
    rgba(30, 33, 44, 0) 43.9%,
    rgba(30, 33, 44, 0.03) 55.21%,
    rgba(30, 33, 44, 0.33) 68.73%,
    rgba(30, 33, 44, 0.56) 76.17%,
    rgba(30, 33, 44, 0.768225) 83.75%,
    rgba(30, 33, 44, 0.92) 91.49%,
    #1e212c 100%
  );
  opacity: 0;
  transition: opacity 250ms linear;
}
.team__item-img:hover::after {
  opacity: 1;
  transition: opacity 250ms linear;
}

.team__item-sm-list {
  display: flex;
}
.team__item-sm-list {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: -1;
}
.team__item-img:hover .team__item-sm-list {
  z-index: 1;
}
.team__item-sm-item:not(:first-child) {
  margin-left: 12px;
}
.team__item-sm-icon {
  fill: rgb(150, 149, 149);
  transition: fill 250ms linear;
}
.team__item-sm-link:hover .team__item-sm-icon {
  fill: #fff;
  transition: fill 250ms linear;
}

.team__item-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;

  margin-bottom: 4px;
}
.team__item-text {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;

  color: var(--second-text-color);
}

/* ------------------------FOOTER------------------------ */

.footer {
  background-image: linear-gradient(#1e212c 85%, rgba(255, 255, 255, 0.05) 85%),
    linear-gradient(#1e212c, #242935);

  padding-top: 80px;
  padding-bottom: 20px;
}
.container--footer {
  flex-direction: column;
}
.footer__main-content {
  display: flex;
  margin-bottom: 80px;
}
.footer__bottom {
  display: flex;
  align-items: center;
}
/* ----------------------footer logo-------------------- */
.footer__logo {
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;

  outline: 1px solid #1e212c;
  transition: outline-color 250ms linear;
}
.footer__logo-icon {
  fill: #fff;
}
.footer__logo:focus {
  outline-color: var(--accent-color);
  outline-offset: 3px;
  border-radius: 3px;

  transition: outline-color 250ms linear;
}
.footer__text {
  width: 280px;

  font-size: 12px;
  line-height: 1.5;

  color: #fff;
  opacity: 0.6;

  margin-bottom: 38px;
}
/* ------------------footer sm list------------------ */
.footer__sm-list {
  display: flex;
}

.footer__sm-item:not(:first-child) {
  margin-left: 20px;
}
.footer__sm-icon {
  fill: rgba(255, 255, 255, 0.6);
  transition: fill 250ms linear;
}

.footer__sm-link:hover .footer__sm-icon,
.footer__sm-link:focus .footer__sm-icon {
  fill: var(--accent-color);
  transition: fill 250ms linear;
}
.footer__sm-link:focus {
  outline: none;
}
/* ------------------------footer nav list----------------------- */
.footer__nav-list {
  width: 100px;
}
.footer__nav-item:not(:last-child),
.footer__courses-item:not(:last-child) {
  margin-bottom: 10px;
}
.footer__nav-item:nth-child(1),
.footer__courses-item:nth-child(1) {
  margin-bottom: 12px;
}
/* -----------------------footer address-------------------- */
.footer__address-header {
  margin-bottom: 12px;
}
.footer__address-link {
  margin-bottom: 10px;
}
.footer__address-icon {
  margin-right: 8px;
}
.footer__address {
  font-style: normal;
}
.footer__address-link {
  display: flex;
  align-items: center;
}
.footer__address-icon {
  fill: rgba(255, 255, 255, 0.9);
  transition: fill 250ms linear;
}
.footer__address-link:hover .footer__address-icon,
.footer__address-link:focus .footer__address-icon {
  fill: var(--accent-color);
  transition: fill 250ms linear;
}
/* -------------------------footer links styles------------------------ */
.footer__nav-list,
.footer__courses-list,
.footer__address,
.footer__input {
  margin-left: 67px;
}
.footer__nav-header,
.footer__courses-header,
.footer__address-header,
.footer__input-header {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: #fff;
}
.footer__nav-link,
.footer__courses-link,
.footer__address-link {
  font-size: 16px;
  line-height: 1.6;

  color: #fff;
  opacity: 0.6;
  transition: color 250ms linear;
}
.footer__nav-link:hover,
.footer__courses-link:hover,
.footer__address-link:hover {
  color: var(--accent-color);
  transition: color 250ms linear;
}
.footer__nav-link:focus,
.footer__courses-link:focus,
.footer__address-link:focus {
  outline: none;
  color: var(--accent-color);
  transition: color 250ms linear;
}
/* -----------------------footer input---------------------- */
.footer__input-header {
  margin-bottom: 24px;
}
.footer__input-window-container {
  position: relative;
  margin-bottom: 12px;
}
.footer__input-window {
  width: 286px;
  height: 36px;

  background-color: rgba(255, 255, 255, 0.12);
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;

  padding-left: 12px;

  transition: border-color 250ms linear;
}
.footer__input-window:focus {
  border-color: var(--accent-color);
  transition: border-color 250ms linear;

  color: #fff;
}
.footer__input-btn {
  display: flex;
  align-items: center;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;

  height: 30px;
  border: none;
  background: none;

  cursor: pointer;
}
.footer__input-btn-icon {
  fill: #fff;
  transition: fill 250ms linear;
}
.footer__input-btn:hover .footer__input-btn-icon,
.footer__input-btn:focus .footer__input-btn-icon {
  fill: var(--accent-color);
  transition: fill 250ms linear;
}
.footer__input-btn:focus {
  outline: none;
}
.footer__input-comment {
  width: 285px;

  font-size: 10px;
  line-height: 1.5;

  color: #fff;
}
/* ----------------------------footer bottom------------------------- */
.footer__bottom-text {
  font-size: 12px;
  line-height: 1.5;

  color: #fff;
}
.footer__bottom-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;

  color: #fff;
  transition: color 250ms linear;

  opacity: 0.6;

  margin-left: auto;
}
.footer__bottom-link:hover,
.footer__bottom-link:focus {
  color: var(--accent-color);
  transition: color 250ms linear;
  outline: none;
>>>>>>> origin/Courses
}
