body {
  padding: 0;
  margin: 0;
  font-family: Lato, 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: 400;
  background: #e5e5e5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

footer {
  color: #fff;
  background-color: #1e212c;
}

footer a {
  color: #fff;
}

h1 {
  font-size: 46px;
  line-height: 1.3;
}

h6 {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.container {
  width: 1260px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid orangered; */
  margin: 0 auto;
}

.section {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

/* =========== хедер ============= */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 80px;
}

.nav-bar,
.account {
  display: flex;
  margin-left: 60px;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin-right: 40px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #ff3f3a;
}

.nav-bar .current {
  color: #ff3f3a;
}
.account-btn,
.login-form {
  display: flex;
  width: 206px;
  height: 52px;
  align-items: center;
  text-align: center;
  border: 1px solid #f75e05;
  background-color: #f75e05;
  border-radius: 4px;

  align-items: center;
  justify-content: center;
}

.account-btn {
  color: #fff;
}

.account-btn {
  margin-right: 36px;
}

.account-btn {
  background-image: linear-gradient(
    to right,
    rgba(255, 63, 58, 1),
    rgba(247, 94, 5, 1)
  );
}

.account-btn:hover,
.account-btn:focus {
  background-image: linear-gradient(
    to left,
    rgba(255, 63, 58, 1),
    rgba(247, 94, 5, 1)
  );
}

.acc-link-login:hover,
.acc-link-login:focus {
  color: #ff3f3a;
}

.acc-link-reg:hover,
.acc-link-reg:focus {
  color: #ff3f3a;
}

.acc-link {
  font-size: 16px;
  line-height: 2.71;
  font-weight: 700;

  letter-spacing: 0.5px;
  color: #fff;
}

.login-form {
  border: 0px;
  background-color: transparent;
}

.account-icon {
  margin-right: 8px;
}

.acc-link-login {
  margin-right: 5px;
}

.acc-link-reg {
  margin-left: 5px;
}

.account-icon {
  margin-right: 8px;
}

.nav-link,
.acc-link-login,
.acc-link-reg {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  color: #424551;
}

.footer-logo,
.logo {
  padding-left: 0;
}

/* ====================================== */
/* ================= івенти ============= */
.event-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.sub-title {
  margin-bottom: 8px;
}

.event-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 60px;
}

.event-item {
  display: block;
  padding: 24px;
  margin-right: 30px;
  margin-bottom: 30px;
  max-width: 390px;
  min-height: 323px;
  border: 1px solid #e5e8ed;

  box-shadow: 0px 4px 4px rgba(30, 33, 44, 0.03),
    0px 12px 10px rgba(154, 156, 165, 0.04),
    0px 30px 24px rgba(154, 156, 165, 0.05),
    0px 80px 80px rgba(154, 156, 165, 0.08);
}

.event-item:nth-child(3n) {
  margin-right: 0;
}

.event-blok {
  display: block;
  min-height: 207px;
  min-width: 342px;
}

.time {
  margin-bottom: 20px;

  color: #787a80;
}
.mounts {
  margin-bottom: 4px;

  color: #ff3f3a;

  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
}

.list-title {
  margin-bottom: 8px;

  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
}

.category {
  margin-bottom: 51px;
  font-size: 16px;
  line-height: 1.6;
  color: #787a80;
}

.event-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 342px;
  height: 44px;
  text-align: center;
  border: 1px solid #f75e05;
  border-radius: 4px;

  font-size: 14px;
  font-weight: 700;
  line-height: 2.62;
  color: #f75e05;
}

.event-link:hover,
.event-link:focus {
  background-image: linear-gradient(
    to right,
    rgba(255, 63, 58, 1),
    rgba(247, 94, 5, 1)
  );

  color: #fff;
}

/* ========== сторінки ========== */

.catalog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;

  padding-bottom: 180px;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.next-page {
  display: flex;
}

.next-page-icon {
  fill: currentColor;
}
.next-page-icon:focus,
.next-page-icon:hover {
  fill: #ff3f3a;
}

.pages + .pages {
  margin-right: 0;
}

.page-link {
  margin-right: 20px;

  font-size: 16px;
  font-weight: 700;
  color: #424551;
}

.page-link + .page-link {
  margin-right: 0;
}

.page-link:hover,
.page-link:focus {
  color: #ff3f3a;
}

/* ========== підписка ============ */

.subscribe-bg {
  display: flex;
  max-width: 1920px;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;

  padding-top: 120px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  background-image: linear-gradient(
    to bottom,
    rgba(255 63 58 / 0.2),
    rgba(247 94 5 / 0.2)
  );
  background-repeat: no-repeat;
  background-position: left bottom;
}

.subscribe-titles {
  display: block;

  align-items: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.general-title {
  text-align: center;

  font-size: 46px;
  font-weight: 900;
  line-height: 1.3;
  color: #1e212c;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.sub-title {
  text-align: center;

  font-size: 16px;
  line-height: 1.5;
  font-weight: 900;
  color: #1e212c;
}

.position {
  margin-top: 10px;
  height: 246px;
  width: 318px;
}
.subscribe-pic-up {
  display: flex;
  margin-right: 306px;
  align-items: flex-end;
}
.subscribe-pic-down {
  display: flex;
  align-items: flex-end;
  margin-left: 306px;
}

.box {
  display: flex;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 180px;
}

.subscribe-input {
  padding-left: 16px;
  margin-right: 24px;
  width: 440px;
  height: 52px;
  border-radius: 4px;
  border: 1px solid #9a9ca5;

  font-size: 16px;
  line-height: 1.6;
  color: #9a9ca5;
}

.subscribe-link {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  color: #fff;
  background-image: linear-gradient(
    to right,
    rgba(255, 63, 58, 1),
    rgba(247, 94, 5, 1)
  );
  border-radius: 4px;
  border: 1px solid #f75e05;
  height: 52px;
  min-width: 154px;
}

.subscribe-link:hover,
.subscribe-link:focus {
  background-image: linear-gradient(
    to left,
    rgba(255, 63, 58, 1),
    rgba(247, 94, 5, 1)
  );
}

/* ========== підвал ============ */

.footer {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 80px;
  padding-bottom: 60px;
}

.about {
  margin-right: 80px;
}

.footer-logo {
  margin-bottom: 24px;
}

.footer-text {
  display: inline-block;
  max-width: 279px;
  margin-top: 24px;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
  opacity: 60%;
}

.socials-list {
  display: flex;
  flex-direction: row;
  margin-top: 38px;
}

.socials-item {
  margin-right: 20px;
}

.socials-link {
  background-color: transparent;
  fill: #fff;
  opacity: 60%;
}

.socials-item:last-child {
  margin-right: 0;
}

.socials-link:hover,
.socials-link:focus {
  background-color: #1e212c;
  fill: #fff;
  opacity: 100%;
}

.site-map {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-right: 79px;
}

.site-map-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  white-space: nowrap;
  margin-bottom: 12px;
}

.site-map-link {
  color: #fff;
  opacity: 0.6;
}

.site-map-item {
  margin-bottom: 8px;
}

.site-map-item:last-child {
  margin-bottom: 0;
}

.site-map-link:hover,
.site-map-link:focus {
  color: #fff;
  opacity: 1;
}

.courses {
  margin-right: 79px;
}

.courses-title {
  margin-bottom: 12px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.courses-item {
  margin-bottom: 8px;
  white-space: nowrap;
}

.courses-item:last-child {
  margin-bottom: 0;
}

.courses-link {
  color: #fff;
  opacity: 0.6;
}

.courses-link:hover,
.courses-link:focus {
  color: #fff;
  opacity: 1;
}

.contact-us {
  display: flex;
  flex-direction: column;
  margin-right: 79px;
}

.contact-us-title {
  margin-bottom: 12px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.contact-us-item {
  display: flex;
  flex-wrap: nowrap;
  color: #fff;
  opacity: 0.6;
}
.contact-us-item:first-child {
  margin-bottom: 8px;
}

.contact-us-link {
  margin-left: 8px;
}

.contact-us-item:hover,
.contact-us-item:focus {
  color: #fff;
  opacity: 1;
}

.contact-us-pic .newsletter {
  display: block;

  max-width: 286px;
}

.newslatter-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.newslatter-form {
  width: 286px;
  height: 36px;

  margin-top: 24px;
  background-color: #424551;
  border: 1px solid #424551;
  border-radius: 4px;
}

.newslatter-form:hover,
.newslatter-form:focus {
  background-color: #fff;
  opacity: 0.5;
}

.newslatter-text {
  margin-top: 12px;
}
/* ============ копірайт =============== */

.copyright {
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  background-color: #424551;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.copyright-container {
  display: flex;
  justify-content: space-between;
}

.stroke {
  margin-left: 4px;
  margin-right: 4px;
}

.copyright-text {
  color: #fff;
}

.anchor {
  color: #fff;
  opacity: 60%;
}

.anchor:hover,
.anchor:focus {
  color: #fff;
  opacity: 100%;
}
