html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #ffffff;
    color: #1e212c;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

:root {
    --accent-color: #ff3f3a;
    --main-text-color: #1e212c;
    --second-text-color: #424551;
}

.no-gap {
    display: block;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

ul,
h1,
h2,
h3,
h4,
h5,
p {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.btn {
    width: 206px;
    height: 52px;
    padding: 0;
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(#f75e05ff, #f75e05ff);
    outline: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 3.25;
    letter-spacing: 0.5px;
    color: #fff;
}

.btn:hover,
.btn:focus {
    cursor: pointer;
    color: var(--main-text-color);
    background-image: linear-gradient(#f75e05ff, #ff3f3aff);
    transition: 250ms;
    transition: color 250ms linear;
}

.btn-link--empty {
    background-image: none;
    outline: none;
    border: 1px solid var(--accent-color);
    transition: border-color 250ms linear;
    color: var(--accent-color);
}

.btn-link:focus {
    outline-color: var(--main-text-color);
    transition: outline-color 250ms linear;
}

.btn-link--empty:focus {
    border-color: var(--main-text-color);
    transition: border-color 250ms linear;
}


/* --------------------------------------HEADER------------------------------------- */

.section-header {
    background: radial-gradient(#ff3f3a40, #f75e0540);
    display: flex;
    padding-top: 20px;
    padding-bottom: 80px;
}

.container--header {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    position: relative;
}


/* ------------------------header navigation------------------------ */

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav-list {
    display: flex;
}

.header__nav-link {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    color: var(--second-text-color);
    outline: transparent;
    border-radius: 2px;
    outline-offset: 2px;
    outline-color: #fff;
    transition: outline-color 250ms linear;
    transition: color 250ms linear;
}

.header__logo-icon {
    fill: #1e212c;
}

.header__nav-link--current {
    color: var(--accent-color);
}

.header__nav-item:nth-child(2) {
    margin-left: 60px;
}

.header__nav-item:nth-child(n + 3) {
    margin-left: 40px;
}


/* -------------------------header button----------------------------- */

.btn--header {
    margin-left: auto;
}


/* ---------------------header sign-in/sign-up-------------------------- */

.header__authorization {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    margin-left: 225px;
}

.header__registrationtion {
    display: flex;
}

.header__authorization-item {
    display: flex;
    justify-content: center;
    align-self: center;
}

.header__authorization-icon {
    margin-left: 26px;
    margin-right: 8px;
}

.header__authorization-sign-in,
.header__authorization-slash,
.header__authorization-sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    background: none;
    border: none;
    border-radius: 2px;
    padding: 0;
    outline: transparent;
    outline-offset: 2px;
    color: var(--second-text-color);
    transition: color 250ms linear;
}


/* -------------------------header hero------------------------- */

.header-hero {
    display: flex;
    margin-top: 140px;
}

.hero-title {
    margin-top: 24px;
    margin-bottom: 60px;
    width: 496px;
    height: 249px;
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.hero-img {
    display: inline-block;
    position: relative;
    width: 602px;
    height: 551px;
    margin-left: 180px;
    margin-bottom: 180px;
}

.hero-statistics {
    display: flex;
    justify-content: space-around;
    min-width: 1226px;
    flex-direction: row-reverse;
}

.hero-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-paragraph {
    margin-right: 12px;
    font-size: 46px;
    font-weight: 900;
    line-height: 1.3;
}


/* -------------------------hero buttomm------------------------- */

.hero-buttomm {
    background: content-box;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.buttomm-play {
    width: 171px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: content-box;
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
}

.play-icon {
    margin-right: 16px;
    background-color: var(--accent-color 56%);
    fill: var(--accent-color);
}


/* -------------------------header hover/focus------------------------ */

.header__nav-link:hover,
.header__authorization-sign-in:hover,
.header__authorization-sign-up:hover {
    color: var(--accent-color);
    transition: color 250ms linear;
}

.header__nav-link:focus,
.header__authorization-sign-in:focus,
.header__authorization-sign-up:focus {
    color: var(--accent-color);
    outline-color: var(--accent-color);
    transition: color 250ms linear;
    transition: outline-color 250ms linear;
}

.authorization-icon {
    fill: currentColor;
}


/* .play-icon:hover,
.play-icon:focus {
  fill: #f75e0540;
  stroke: transparent;
  stroke-width: 8px;
  stroke-opacity: 0.65;
  transform: scale(1.5);
}
.play-icon {
  fill: currentColor;
} */


/* ------------------------ABOUT------------------------ */

.about {
    padding-bottom: 0;
}

.about-cotainer {
    display: flex;
    height: 560px;
}

.about-box {
    margin-left: 135px;
}

.about-list-box {
    width: 390px;
    height: 320px;
}

.about-unorder {
    margin-top: 40px;
    margin-left: 16px;
    list-style-image: url(../img/homepage/check.svg);
}

.normal-text+.normal-text {
    margin-bottom: 12px;
}

.about-list+.about-list {
    margin-top: 12px;
}

.list-paragraph {
    margin-left: 16px;
}


/* ------------------------COURSES----------------------- */

.courses-title {
    display: flex;
    justify-content: space-between;
}

.courses-title-list+.courses-title-list {
    align-self: end;
}

.courses-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
}

.list-title {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
}

.courses-team {
    display: flex;
    flex-wrap: wrap;
}

.team-list {
    display: flex;
    border: 1px solid rgba(229, 232, 237, 1);
    border-radius: 4px;
    box-shadow: 0px 12px 10px -6px rgba(154, 156, 165, 0.08);
    margin-top: 60px;
    width: 600px;
    height: 214px;
}

.team-list:nth-child(2n + 1) {
    margin-right: 30px;
}

.team-list:nth-child(-n + 6) {
    margin-top: 30px;
}

.team-list:hover,
.team-list:focus {
    box-shadow: 0px 30px 24px -10px rgba(154, 156, 165, 0.1);
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16);
}

.card-info {
    display: block;
    max-width: 322px;
    margin-left: 32px;
    margin-top: 32px;
}

.title-card {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

.markering {
    width: 79px;
    height: 23px;
    border-radius: 4px;
    background-color: #03cea4;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.managment {
    width: 97px;
    height: 23px;
    border-radius: 4px;
    background-color: #5a87fc;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.recruting {
    width: 112px;
    height: 23px;
    border-radius: 4px;
    background-color: #f89828;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.desing {
    width: 59px;
    height: 23px;
    border-radius: 4px;
    background-color: #f52f6e;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

span {
    color: #ff4242;
}


/* ------------------------BENEFITS------------------------ */

.benefints-section {
    padding-bottom: 120px;
}

.benefits-third-header {
    text-align: center;
}

.section-benefits-title {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1226px;
    height: 46px;
}

.benefits-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 307px;
    height: 46px;
    border: none;
    border-radius: 4px;
    text-align: center;
    color: #9a9ca5;
}

.benefits-list-icon {
    margin: auto;
    padding: auto;
}

.benefints-box {
    margin-top: 60px;
    display: flex;
}

.benefints-box-title {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.3;
}

.benefints-box-text {
    margin-top: 25px;
}

.box-title {
    margin-top: 122px;
    width: 495px;
    height: 196px;
}

.benefints-box-img {
    margin-left: auto;
}


/* ------------------------BENEFITS hover------------------------ */

.benefits-list-icon:hover,
.benefits-list-icon:focus {
    border: 1px solid#ff3f3a;
    color: #ff3f3a;
}

.list-icon {
    fill: currentColor;
}


/* ------------------------EVENTS------------------------ */

.section-events {
    min-height: 850px;
    background: linear-gradient(55.95deg, #ff3f3a33 0%, #f75e0533 100%);
}

.section-events .third-header {
    padding-top: 80px;
}

.events-third-header {
    text-align: center;
}

.events-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1230px;
    height: 126px;
    border: none;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0px 4px 4px -4px #1e212c0d;
    box-shadow: 0px 12px 10px -6px #ff3f3a14;
}

.list-date {
    margin-left: 40px;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 62px;
    letter-spacing: 1px;
    text-align: left;
    color: #ff3f3a;
}

.events-date {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100px;
    height: 60px;
}

.list-mounth {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--main-text-color);
}

.list-time {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #787a80;
}

.events-info {
    margin-left: 40px;
    width: 757px;
    height: 60px;
}

.events-description {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--main-text-color);
}

.events-lesson {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #787a80;
}

.events-list:first-child {
    margin-top: 60px;
}

.events-list+.events-list {
    margin-top: 20px;
}

.events-list:hover,
.events-list:focus {
    box-shadow: 0px 4px 4px -4px #1e212c0d;
    box-shadow: 0px 12px 10px -6px #ff3f3a14;
    box-shadow: 0px 30px 24px -10px #ff3f3a1a;
    box-shadow: 0px 80px 80px -20px #ff3f3a29;
}

.footer-events {
    margin-top: 60px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer-events-title {
    margin-top: 5px;
    margin-right: 40px;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
}


/* ------------------------EVENTS butoon------------------------ */

.events-btn {
    margin-left: 40px;
    width: 136px;
    height: 44px;
    border: 1px solid #f75e05;
    border-radius: 4px;
    background: transparent;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #f75e05;
}

.events-btn:hover,
.events-btn:focus {
    background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
    color: #fff;
    transition: 250ms;
    transition: color 250ms linear;
}


/* ------------------------Certificate------------------------ */

.certificate-section {
    padding-top: 120px;
    max-height: 578px;
}

.certificate-container {
    display: flex;
    justify-content: space-between;
    max-height: 500px;
}

.certificate-box {
    width: 397px;
    height: 334px;
}

.certificate-paragraph {
    margin-top: 48px;
}

.certificate-img {
    position: relative;
    box-shadow: 0px 4px 4px -4px #1e212c0d;
    box-shadow: 0px 12px 10px -6px #9a9ca514;
    box-shadow: 0px 30px 24px -10px #9a9ca51a;
    box-shadow: 0px 80px 80px -20px #9a9ca529;
}

.certificate-item {
    display: flex;
    margin-top: 32px;
}

.logo-company+.logo-company {
    margin-left: 40px;
}


/* ------------------------TEAM------------------------ */

.team-section {
    padding-top: 166px;
    padding-bottom: 103px;
    background: #f4f5f6;
}

.team-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.team-raundabout {
    padding-top: 60px;
    display: flex;
}

.team-raundabout-list {
    width: 285px;
    height: 416px;
}

.team-raundabout-list+.team-raundabout-list {
    margin-left: 30px;
}

.team-card {
    padding: 20px 20px 0 20px;
    height: 340px;
    width: 285px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    background: #ffcf2d;
}

.team-social {
    display: flex;
    margin-left: auto;
    margin-top: -40px;
    justify-content: flex-end;
    position: relative;
    border: 1px solid black;
    width: 84px;
    height: 20px;
}

.social-icon {
    color: #ffffff99;
}

.team-title {
    text-align: center;
    margin-top: 16px;
}

.team-name {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
}

.team-title .normal-text {
    color: #787a80;
}


/* ------------------------TEAM testimonials------------------------ */

.testimonials {
    text-align: center;
    margin-top: 180px;
    width: 1242px;
    height: 556px;
}

.testimonials-buttom {
    display: flex;
    margin-top: 208px;
}

.buttom {
    padding: 0;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    background: transparent;
}

.testimonials-box {
    margin-top: -148px;
    margin-bottom: 60px;
    margin-left: 105px;
    margin-right: 117px;
    width: 1020px;
    height: 344px;
    position: relative;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    background: #fff;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
}

.box-brackets {
    display: flex;
    margin-top: 64px;
    margin-left: 105px;
}

.brackets {
    width: 28px;
    height: 20px;
}

.box-pargraph {
    margin-left: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.box-card {
    margin-top: 24px;
    margin-left: 163px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 243px;
    height: 72px;
    top: 144px;
}

.box-card-title {
    margin-left: 20px;
}

.corse {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}


/* ------------------------TEAM hover------------------------ */

.buttom:hover,
.buttom:focus {
    background: #FF3F3A;
    color: #fff;
}

.testimonials-icon {
    fill: currentColor;
}

.team-card:hover,
.team-card:focus {
    background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%), #ffcf2d;
    ;
    border-radius: 4px;
    z-index: 1;
}

.social-icon:hover,
.social-icon:focus {
    background: transparent;
    color: #fff;
}

.icon {
    fill: currentColor;
}


/* ------------------------BLOG------------------------ */

.blog__section {
    padding-top: 117px;
    padding-bottom: 180px;
}

.blog__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 60px;
}

.blog__list-box {
    display: flex;
}

.blog__list {
    display: flex;
}

.blog__list-list {
    margin: 0;
    width: 390px;
    height: 507px;
}

.blog__list-list+.blog__list-list {
    margin-left: 30px;
}

.blog__link {
    display: flex;
    align-items: center;
    justify-content: left;
}

.link {
    margin-bottom: -40px;
    margin-left: 12px;
    align-items: center;
    justify-content: center;
    padding: 1px 8px;
    max-height: 23px;
    width: max-content;
    position: relative;
    border-radius: 4px;
    background: #fff;
    color: var(--second-text-color);
    cursor: default;
}

.link-icon {
    fill: currentColor;
}

.list-meta {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 16px;
    width: max-content;
}

.meta-list {
    display: flex;
    justify-content: left;
    align-items: center;
}

.meta-calendar::before {
    content: "";
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 12px;
    border: 0.5px solid #787A80;
    transform: rotate(90deg);
    width: 12px;
}

.meta-clock::before {
    content: "";
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 12px;
    border: 0.5px solid #787A80;
    transform: rotate(90deg);
    width: 12px;
}

.meta-icon {
    margin-right: 8px;
}

.list-title {
    margin-top: 8px;
}

.list-title .liner-text {
    margin-top: 8px;
}

.blog__buttom {
    display: flex;
    margin-top: 16px;
    min-width: 75px;
    height: 26px;
    background: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
}

.buttom-icon {
    margin-left: 8px;
}


/* ------------------------BLOG hover------------------------ */

.blog__buttom:hover,
.blog__buttom:focus {
    fill: var(--accent-color);
    transition: 250ms;
}


/* ------------------------SUBSCRIBE------------------------ */

.subscribe__section {
    background: linear-gradient(55.95deg, #ff3f3a33 0%, #f75e0533 100%);
    ;
}

.subscribe-container {
    display: flex;
}

.subscribe__title {
    padding-top: 133px;
    margin: auto;
    height: 152px;
    width: 810px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
}

label {
    display: flex;
    width: 600px;
    height: 52px;
}

input {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    width: 422px;
    height: 52px;
}

.subscribe__img {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 156px;
    margin-left: -354px;
}

.img-hands+.img-hands {
    margin-left: 1230px;
}


/* ------------------------FOOTER------------------------ */

.footer {
    background-image: linear-gradient(#1e212c 85%, rgba(255, 255, 255, 0.05) 85%), linear-gradient(#1e212c, #242935);
    padding-top: 80px;
    padding-bottom: 20px;
}

.container--footer {
    flex-direction: column;
}

.footer__main-content {
    display: flex;
    margin-bottom: 80px;
}

.footer__bottom {
    display: flex;
    align-items: center;
}


/* ----------------------footer logo-------------------- */

.footer__logo {
    display: inline-flex;
    align-items: center;
    margin-bottom: 24px;
    outline: 1px solid #1e212c;
    transition: outline-color 250ms linear;
}

.footer__logo-icon {
    fill: #fff;
}

.footer__logo:focus {
    outline-color: var(--accent-color);
    outline-offset: 3px;
    border-radius: 3px;
    transition: outline-color 250ms linear;
}

.footer__text {
    width: 280px;
    font-size: 12px;
    line-height: 1.5;
    color: #fff;
    opacity: 0.6;
    margin-bottom: 38px;
}


/* ------------------footer sm list------------------ */

.footer__sm-list {
    display: flex;
}

.footer__sm-item:not(:first-child) {
    margin-left: 20px;
}

.footer__sm-icon {
    fill: rgba(255, 255, 255, 0.6);
    transition: fill 250ms linear;
}

.footer__sm-link:hover .footer__sm-icon,
.footer__sm-link:focus .footer__sm-icon {
    fill: var(--accent-color);
    transition: fill 250ms linear;
}

.footer__sm-link:focus {
    outline: none;
}


/* ------------------------footer nav list----------------------- */

.footer__nav-list {
    width: 100px;
}

.footer__nav-item:not(:last-child),
.footer__courses-item:not(:last-child) {
    margin-bottom: 10px;
}

.footer__nav-item:nth-child(1),
.footer__courses-item:nth-child(1) {
    margin-bottom: 12px;
}


/* -----------------------footer address-------------------- */

.footer__address-header {
    margin-bottom: 12px;
}

.footer__address-link {
    margin-bottom: 10px;
}

.footer__address-icon {
    margin-right: 8px;
}

.footer__address {
    font-style: normal;
}

.footer__address-link {
    display: flex;
    align-items: center;
}

.footer__address-icon {
    fill: rgba(255, 255, 255, 0.9);
    transition: fill 250ms linear;
}

.footer__address-link:hover .footer__address-icon,
.footer__address-link:focus .footer__address-icon {
    fill: var(--accent-color);
    transition: fill 250ms linear;
}


/* -------------------------footer links styles------------------------ */

.footer__nav-list,
.footer__courses-list,
.footer__address,
.footer__input {
    margin-left: 67px;
}

.footer__nav-header,
.footer__courses-header,
.footer__address-header,
.footer__input-header {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}

.footer__nav-link,
.footer__courses-link,
.footer__address-link {
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
    opacity: 0.6;
    transition: color 250ms linear;
}

.footer__nav-link:hover,
.footer__courses-link:hover,
.footer__address-link:hover {
    color: var(--accent-color);
    transition: color 250ms linear;
}

.footer__nav-link:focus,
.footer__courses-link:focus,
.footer__address-link:focus {
    outline: none;
    color: var(--accent-color);
    transition: color 250ms linear;
}


/* -----------------------footer input---------------------- */

.footer__input-header {
    margin-bottom: 24px;
}

.footer__input-window-container {
    position: relative;
    margin-bottom: 12px;
}

.footer__input-window {
    width: 286px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.12);
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding-left: 12px;
    transition: border-color 250ms linear;
}

.footer__input-window:focus {
    border-color: var(--accent-color);
    transition: border-color 250ms linear;
    color: #fff;
}

.footer__input-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

.footer__input-btn-icon {
    fill: #fff;
    transition: fill 250ms linear;
}

.footer__input-btn:hover .footer__input-btn-icon,
.footer__input-btn:focus .footer__input-btn-icon {
    fill: var(--accent-color);
    transition: fill 250ms linear;
}

.footer__input-btn:focus {
    outline: none;
}

.footer__input-comment {
    width: 285px;
    font-size: 10px;
    line-height: 1.5;
    color: #fff;
}


/* ----------------------------footer bottom------------------------- */

.footer__bottom-text {
    font-size: 12px;
    line-height: 1.5;
    color: #fff;
}

.footer__bottom-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    transition: color 250ms linear;
    opacity: 0.6;
    margin-left: auto;
}

.footer__bottom-link:hover,
.footer__bottom-link:focus {
    color: var(--accent-color);
    transition: color 250ms linear;
    outline: none;
}