html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: #ffffff;
  color: #1e212c;

  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
:root {
  --accent-color: #ff3f3a;
  --main-text-color: #1e212c;
  --second-text-color: #424551;
}
.container {
  width: 1260px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 180px;
}
.no-gap {
  display: block;
}
/* --------------------------------------TEXT FONT, SIZE, WEIGHT------------------------------------- */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.main-header {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;

  color: var(--main-text-color);
}
.second-header {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;

  margin-bottom: 60px;

  color: var(--main-text-color);
}
.third-header {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;

  text-transform: uppercase;

  margin-bottom: 8px;

  color: var(--main-text-color);
}
.bold-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;

  color: var(--main-text-color);
}
.normal-text {
  font-size: 16px;
  line-height: 1.6;

  color: var(--second-text-color);
}
